
/* ## HEADER  */

header {
    background-color: #033468;
    display: flex;
    padding: 35px;
    color: yellow
}

header .title {
    color: yellow;
    justify-content: start;
    flex: 1;
    font-size: 20px;
    font-weight: 600;
    
}


.logout {
    cursor: pointer;
    background-color: #Dc3345;
    padding: 2px 5px;
    border: thin #eee solid;
    margin-left: 10px;
}
.logout:hover {
    background-color: #af2331;
}
